# Secrets and Credentials
.env
# Local Vector Database
chroma_db/

# Python Virtual Environments
venv/
.venv/
env/


# Python caching (Compiled bytecode)
**/__pycache__/
*.pyc

# IDE and Editor files
.vscode/
.idea/